<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">

<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<style>
.acc {
    background-color: rgb(206, 173, 250);
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	margin: 10px 0 10px 0;
}

.acc_collapsed, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 20px 20px 20px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.root_div {
    margin: 20px;
}

.common_div {
    margin: 20px 0 20px 0;
}

.paginate_button, .page-item, .active > a {
   background-color: rgb(206, 173, 250) !important;
   border-color: rgb(206, 173, 250) !important;
}

.paginate_button, .page-item > a {
   color: rgb(33, 37, 41) !important;
}

.paginate_button, .page-item, .disabled > a {
   background-color: rgb(223, 223, 223) !important;
}

.dataTables_paginate, .paging_simple_numbers {
   margin-top: 10px !important;
}
</style>
</head>
<body>

<div class="root_div">
	<div id="main_content" class="main_content">
		<div style="display: flex; justify-content: flex-end">
		<button id="expand_all" type="button" class="btn btn-secondary">Expand all</button>
		<button id="collapse_all" type="button" class="btn btn-secondary" style="margin-left: 10px;">Collapse all</button>
	</div>
	</div>
</div>

<script type="text/javascript">

var report_data = _REPORT_DATA;

$(document).ready(function () {

	 for (const report_item in report_data) {
		
		if (report_item == 'header') {
			$( "#main_content" ).append("<h2 style='text-align: center'>" + report_data[report_item] + "</h2>");
		}
		if (report_item == 'description') {
			var d = $("<div class='common_div'></div>");
			d.html(report_data[report_item]);
			$( "#main_content" ).append(d);
		}
		if (report_item == 'sections') {
		
			for (const section in report_data.sections) {
				// fill main sections

				var section_id = "sections_" + section;
				var d = $("<div id='" + section_id + "'></div>");
				$( "#main_content" ).append(d);

				$( "#" + section_id ).append('<button class="acc" style="background-color: rgb(255, 204, 0)">' + report_data.sections[section].header + '</button>');
				
				if (report_data.sections[section].state == 'collapsed')
					$( "#" + section_id ).append('<div class="panel" style="display: none"></div>');
				if (report_data.sections[section].state == 'expanded')
					$( "#" + section_id ).append('<div class="panel" style="display: block"></div>');

				$( "#" + section_id + " > .panel" ).append("<p class='common_div'>" + report_data.sections[section].description + "</p>");

				for (const report in report_data.sections[section].reports) {
					 // fill sub sections

					var report_id = "reports_" + report;
					var report_div = $("<div id='" + report_id + "'></div>");
					$( "#" + section_id + " > .panel" ).append(report_div);
					
					if (report_data.sections[section].reports[report].state == 'collapsed') {
						$( "#" + report_id ).append('<button class="acc acc_content acc_collapsed">' + report_data.sections[section].reports[report].header + '</button>');
						$( "#" + report_id ).append('<div class="panel" style="display: none"></div>');
					}
					if (report_data.sections[section].reports[report].state == 'expanded') {
						$( "#" + report_id ).append('<button class="acc acc_content">' + report_data.sections[section].reports[report].header + '</button>');
						$( "#" + report_id ).append('<div class="panel" style="display: block"></div>');
					}

					$( "#" + report_id + " > .panel" ).append("<p class='common_div'>" + report_data.sections[section].reports[report].description + "</p>");

					if (report_data.sections[section].reports[report].type == 'table') {
						var tbl_id = 'tbl_' + report_id;
						$( "#" + report_id + " > .panel" ).append('<table id="' + tbl_id + '" class="table table-striped" style="width:100%">');
						$('#' + tbl_id).append('<thead></thead>');
						
						var tbl_header = report_data.sections[section].reports[report].result[0];
						var tbl_rows = report_data.sections[section].reports[report].result[1];
						
						$('#' + tbl_id + " thead").append('<tr></tr>');
						for (tbl_header_i in tbl_header)
							$('#' + tbl_id + " thead tr").append('<th>' + tbl_header[tbl_header_i][0] + '</th>');

						$('#' + tbl_id).append('<tbody></tbody>');
						for (tbl_row in tbl_rows)
						{
							$('#' + tbl_id + " tbody").append('<tr></tr>');
							for (cell in tbl_rows[tbl_row])
								$('#' + tbl_id + " tbody tr:last").append('<td>' + tbl_rows[tbl_row][cell] + '</td>');
						}
					}
				}
			}
		}
	}

	$('table[id^="tbl_"]').DataTable({
        "aLengthMenu": [[15, 50, 100, 500, -1], [15, 50, 100, 500, "All"]],
        "iDisplayLength": 15,
		scrollX: true,
		"responsive": true,
		"lengthChange": true,
		columnDefs: [{
			targets: '_all',
			createdCell: function(cell, cellData, rowData, rowIndex, colIndex) {
				var $cell = $(cell);
				if (cellData.length > 500) {
					$(cell).contents().wrap("<div class='content'></div>");
					var $content = $cell.find(".content");

					$(cell).append($("<button class='btn btn-secondary' style='float: right'>Show more</button>"));
					$btn = $(cell).find("button");

					$content.css({
					  "height": "70px",
					  "overflow": "hidden"
					})
					$cell.data("isLess", true);

					$btn.click(function() {
					  var isLess = $cell.data("isLess");
					  $content.css("height", isLess ? "auto" : "70px")
					  $(this).text(isLess ? "Show less" : "Show more")
					  $cell.data("isLess", !isLess)
					});
				}
			}
		}]
    });

	$( "#expand_all" ).click(function() {
	   $('div.panel').css('display', 'block');
	   $("button.acc").removeClass('acc_collapsed');
	});

	$( "#collapse_all" ).click(function() {
	  $('div.panel').css('display', 'none');
	  $("button.acc").addClass('acc_collapsed');
	});
	
	$( "button.acc" ).click(function() {
		 if ($(this).next().css( "display" ) == 'block') {
			  $(this).next().css('display', 'none');
			  $(this).addClass('acc_collapsed');
		 } else {
			  $(this).next().css('display', 'block');
			  $(this).removeClass('acc_collapsed');	
		 }
	});
});

</script>

</body>
</html>